<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><title>{% block title %}Главная{% endblock %}</title></title>

	<link rel="shortcut icon" href="{{ url_for('static', path='img/favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', path='libs/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='libs/rateYo/rateYo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='libs/intlTelInput/css/intlTelInput.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">

</head>
<body>

    {% if not hide_header %}
        {% include 'layouts/header.html' %}
    {% endif %}
    <div class="my_content">
        {% block content %}{% endblock %}
    </div>
    {% if not hide_footer %}
        {% include 'layouts/footer.html' %}
    {% endif %}

    <script src="{{ url_for('static', path='libs/jquery.js') }}"></script>
    <script src="{{ url_for('static', path='libs/select2/select2.js') }}"></script>
    <script src="{{ url_for('static', path='libs/rateYo/rateYo.js') }}"></script>
    <script src="{{ url_for('static', path='libs/Snowball.min.js') }}"></script>
    <script src="{{ url_for('static', path='libs/intlTelInput/intlTelInput.js') }}"></script>
    <script src="{{ url_for('static', path='libs/intlTelInput/utils.js') }}"></script>
    <script src="{{ url_for('static', path='js/intlTelInput_set.js') }}"></script>
    <script src="{{ url_for('static', path='js/scripts.js') }}"></script>

</body>
</html>