{% extends 'layouts/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<section class="login-wrapper">
    <div class="c-container">
        <div class="login-logo">
            <a href="#" class="header-logo">
                <img src="{{ url_for('static', path='img/logo.svg') }}" alt="">
            </a>
        </div>
        <div class="login-popup">
            <div class="login-popup-wrap">
                <div class="login-popup-title">Регистрация</div>
                <form action="/register" method="post" class="registration-phone-form" id="registration-phone-form">
                    {% if errors %}
                        <div class="error-alert" style="display: block;">
                            {% for error in errors %}
                                {{ error['msg'] }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <input id="input-countries" class="login-input" type="tel" name="phone" placeholder="Телефон *" value="{{ phone if phone is not none else '' }}">
                    <input id="intlTelInputHidden" type="hidden" name="phone_full" value="{{ phone_full if phone_full is not none else '' }}">
                    <button class="login-btn" type="submit">Регистрация</button>
                    <div class="login-link">Есть аккаунт? <a href="#">Войти</a></div>
                </form>
            </div>
            <div class="registration-bottom">
                <div class="registration-bottom-text">
                    Нажимая на кнопку «Зарегистрироваться», я даю <a href="#">согласие на обработку своих персональных данных</a>.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
